@import "./TodoItem.css";
@import "./TodoList.css";
@import "./AddTodoForm.css";

.main-outer {
    height: 100%;
    padding: 3em 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: var(--light-gray);
}

.main-inner {
    width: 760px;
    background: #fff;
    border-radius: var(--border-radius-first);
}
